<div class="flex px-5 pt-5 justify-center">
  <button
    type="button"
    class="bg-green-500 animate:wiggle hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded h-fit"
    (click)="logCustomObservables()"
  >
    Log Custom Observables
  </button>
</div>

<div class="shadow-md sm:rounded-lg m-10 dark:bg-gray-600">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-stone-500 uppercase bg-amber-400">
      <th scope="col" class="px-6 py-3 w-8">User ID</th>
      <th scope="col" class="px-6 py-3 w-6">ID</th>
      <th scope="col" class="px-6 py-3 w-12">Title</th>
      <th scope="col" class="px-6 py-3 w-12">Body</th>
    </thead>
    <tbody class="bg-white text-stone-400 bg-amber-200 overflow-y-auto h-80vh">
      <tr *ngFor="let post of posts">
        <td scope="col" class="px-6 py-3">{{ post.userId }}</td>
        <td scope="col" class="px-6 py-3">{{ post.id }}</td>
        <td scope="col" class="px-6 py-3">{{ post.title }}</td>
        <td scope="col" class="px-6 py-3">{{ post.body }}</td>
      </tr>
    </tbody>
  </table>
</div>
